<%- include('../components/header.ejs') %>

<div class="container">
  <h3 class="alert alert-warning"></h3>
  <h3 class="alert alert-info">Please login or <button type="button" class="btn btn-small">Signup</a></h3>
  <form action="/login" class="form">
    <fieldset class="form-group">
      <label for="">Enter email</label>
      <input type="email" name="email" class="form-control" />
    </fieldset>

    <fieldset class="form-group">
      <label for="pwdInput">Enter password</label>
      <input type="password" name="password" id="pwdInput" class="form-control" />
    </fieldset>

    <!--TODO add captcha there-->
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

<script>
  $(function () {
    $('.alert-warning').hide()

    $('.signup-link').click

    $('form').submit(function (event) {
      event.preventDefault()
      var url = $(this).attr('action')
      $.post({
        url: url,
        success: function (result) {
          if (result.success) {
            $('.alert').text('Log in success !')
            setTimeout(function () {
              window.location.href = '/index'
            }, 3000);
          } else {
            $('.alert').text(result.message)
          }
        }
      })
    })
 })


</script>

<%- include('../components/footer.ejs') %>