<%- include('../components/header.ejs') %>

<main class="container">
  <div class="signin-wrapper">
    <div class="signin-card">
      <div class="card-heading">Signin</div>
      <form action="/signin" class="form" method="POST">
        <fieldset>
          <label for="email-field">Enter email</label>
          <input type="email" name="email" id="email-field"/>
        </fieldset>

        <fieldset>
          <label for="password-field">Enter password</label>
          <input type="password" name="password" id="password-field" />
        </fieldset>

        <!--TODO add captcha there-->
        <fieldset >
          <label for="captcha-field">Please enter captcha </label>
          <input type="text" name="captcha" value="" id="captcha-field">
          <img src="" alt="captcha">
        </fieldset>
        <fieldset>
          <button type="submit" class="submit-button">Submit</button>
        </fieldset>
      </form>
    </div>
    <aside class="social-logins-sidebar">
      <div class="card-heading">Signin with other platform</div>
      <ul class="social-logins-nav">
        <li><a><i class="fa fa-github"></i>&nbsp; Github</a></li>
        <li><a><i class="fa fa-google"></i>&nbsp; Google</a></li>
        <li><a><i class="fa fa-facebook"></i>&nbsp; Facebook</a></li>
        <li><a><i class="fa fa-twitter"></i>&nbsp; Twitter</a></li>
      </ul>
    </aside>
  </div>
</main>

<script>
//   $(function () {

//     $('.signup-link').click(function (event) {
//       window.location.href = '/signup'
//     })

//     $('form').submit(function (event) {
//       event.preventDefault()
//       var url = $(this).attr('action')

//       $.post({
//         // method: 'POST',
//         url: url,
//         data: $(this).serialize(),
//         success: function (result) {
//           // $('<p></p>').text(JSON.stringify(result)).appendTo(document.body)
//           if (result.success) {
//             $('.alert-warning').show().text(result.message)
//             setTimeout(function() {
//               window.location.href = '/'
//             }, 1000);
//           } else {
//             $('.alert-warning').show().text(result.message)
//             $('input').on('focus', function () {
//               $('.alert-warning').hide(1000)
//             })
//           }
//         }
//       })
//     })
//  })
  $(function () {
    $('.form').submit(function (event) {
      event.preventDefault()
      var url = $(this).attr('action')
      $.ajax({
        url: url,
        method: 'POST',
        data: $(this).serialize(),
        success: function (result) {
          if (result.success) {
            $('.alert-panel').css('top', 0).find('p').text(result.message).delay(2000).css('top', '-999px')
            window.location.href = '/'
          } else {
            $('.alert-panel').css('top', 0).find('p').text(result.message).delay(2000).css('top', '-999px')
          }
        }
      })
    })
  })
</script>

<%- include('../components/footer.ejs') %>