<%- include('../components/header.ejs') %>

<h1>sign up page</h1>
<h2 class="alert alert-warning" id="signup-flash"></h2>

<div class="container-fluid col-md-6">
    <form action="/signup" method="POST" id="form">
        <fieldset class="form-group ">
            <label for="inputName">Enter Name</label>
            <input class="form-control" type="text" name="name" value="" placeholder="alex" id="inputName" required>
            <button class="btn btn-primary" id="check-btn" type="button">Validate</button>
            <!--<p class="alert alert-info alert-dismissible fade show"><strong>Checking...  </strong><button class="close" type="button" data-dismiss="alert"><span>&times;</span></button></p>-->
            <p class="alert alert-info" id="check-flash"><strong>Checking... </strong><button class="close" type="button"><span>&times;</span></button></p>
        </fieldset>
        <fieldset class="form-group">
            <label for="inputEamil">Enter Email</label>
            <input class="form-control" type="email" name="email" value="" id="inputEamil" placeholder="abcd@host.com" required>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputPassword">Enter Password</label>
            <input class="form-control" type="password" name="password" value="" required>
        </fieldset>

        <!--TODO-->
        <!--Add interests field-->

        <button type="submit" class="btn btn-primary" id="submit-btn" disabled>Submit</button>

</div>


</form>

<script>
    $(function () {
        $('.alert').hide()
    })
    $('#check-btn').click(function (event) {
        var $nameField = $('#inputName')
        if ($nameField.val() === '') {
            return false;
        } else {
            var name = $nameField.val().trim()
            var url = $('#form').attr('action') + '/validate?name=' + name
            $.post({
                url,
                data: name,
                success: function (result) {
                    if (result) {
                        $('#check-flash').show(500).text('Your name is available').fadeOut(2000)
                        $('#submit-btn').prop('disabled', false)
                        $nameField.on('input', function () {
                            $('#submit-btn').prop('disabled', true)
                        })
                    } else {
                        $('#check-flash').show(500).text('Sorry, your name is occpuied')
                        $nameField.on('input', function (e) {
                            $('#check-flash').fadeOut()
                        })
                    }
                }
            })
        }
    })
    // $('form').submit(function (event) {
    //     event.preventDefault()
    //     var $form = $(this)
    //     $.ajax({
    //         url: $form.attr('action'),
    //         method: 'POST',
    //         data: $form.serialize(),
    //         success: function (data) {
    //             $('#signup-flash').html(JSON.stringify(data, null, 4)).show(500).fadeOut(5000)
    //         },
    //         error: function () {
    //             $('#signup-flash').html('some error in ajax')
    //         }
    //     })
    // })
</script>

<%- include('../components/footer.ejs') %>