<%- include('../components/header.ejs') %>

<div class="container">
  <h3 class="alert alert-warning"></h3>
  <h3 class="alert alert-info">Please signin or <a href="/signup"><button type="button" class="btn btn-small">Signup</button></a></h3>
  <form action="/signin" class="form">
    <fieldset class="form-group">
      <label for="">Enter email</label>
      <input type="email" name="email" class="form-control" />
    </fieldset>

    <fieldset class="form-group">
      <label for="pwdInput">Enter password</label>
      <input type="password" name="password" id="pwdInput" class="form-control" />
    </fieldset>

    <!--TODO add captcha there-->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>

<script>
  $(function () {
    $('.alert-warning').hide()

    //TODO
    // $('.signup-link').click

    $('form').submit(function (event) {
      event.preventDefault()
      var url = $(this).attr('action')

      $.post({
        // method: 'POST',
        url: url,
        data: $(this).serialize(),
        success: function (result) {
          // $('<p></p>').text(JSON.stringify(result)).appendTo(document.body)
          if (result.success) {
            $('.alert-warning').show().text(result.message)
            setTimeout(function() {
              window.location.href = '/'
            }, 1000);
          } else {
            $('.alert-warning').show().text(result.message)
            $('input').on('focus', function () {
              $('.alert-warning').hide(1000)
            })
          }
        }
      })
    })
 })


</script>

<%- include('../components/footer.ejs') %>