<%- include('../components/header.ejs') %>

<main class="container">
    <div class="signup-wrapper">
        <h2 class="signup-heading">Register Center</h2>
        <form action="/signup" method="POST" class="signup-form">
            <fieldset class="">
                <label for="nameField">Enter Name</label>
                <input type="text" id="nameField">
                <button class="validate-btn">Validate</button>
                <!--<p class="alert alert-info alert-dismissible fade show"><strong>Checking...  </strong><button class="close" type="button" data-dismiss="alert"><span>&times;</span></button></p>-->
                <p class="flash-panel"><strong>Checking... </strong><button class="close" type="button"><span>&times;</span></button></p>
            </fieldset>

            <fieldset class="">
                <label for="inputEamil">Enter Email</label>
                <input class="form-control" type="email" name="email" value="" id="inputEamil" placeholder="abcd@host.com" >
            </fieldset>

            <fieldset class="">
                <label for="passwordField">Enter Password</label>
                <input type="password" id="passwordField">
            </fieldset>

            <fieldset>
                <label for="passwordConfirm">Password Confirm</label>
                <input type="password" id="passwordConfirm">
            </fieldset>

            <fieldset>
                <label for="captchaField">Enter captcha</label>
                <input type="text">
                <img src="" alt="captcha">
            </fieldset>
            
            <fieldset>
                <button type="submit" class="submit-btn" disabled>Submit</button>
            </fieldset>
        </form>
    </div>
</main>

<script>
    $(function () {
        // init
        +function () {
            $('.flash-panel').hide()
            $('button.close').click(function (evnet) {
                $('.flash-panel').hide()
            })
        }()


        // validate ajax
        $('.validate-btn').click(function (event) {
            var name = $('#nameField').val().trim();
            if (name === '') {
                return false;
            }
            $('.flash-panel').show(500)
            var url = '/signup/validate'
            $.post({
                url: url,
                data: name,
                success: function (result) {
                    alert(JSON.stringify(result))
                    if (result.success) {
                        $('.submit-btn').prop('disabled', true)
                    }
                    $('.flash-panel > strong').text(result.message).fadeOut(2000)
                }
            })
        })
        
        // disable submit button when name field updated
        $('nameField').on('input', function () {
            $('.submit-btn').prop('disabled', true)
        })

        // submit ajax
        $('.signup-form').submit(function (event) {
            event.preventDefault();
            $.post({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        alert(result.message)
                        setTimeout(function() {
                            window.location.href = '/'
                        }, 3000);
                    } else {
                        $('.alert-panel').text(result.message).show(500).delay(2000).hide(500)
                        $('')
                    }
                }
            })
        })
    })
</script>

<%- include('../components/footer.ejs') %>