<%- include('../components/header.ejs') %>

<div class="container">
  <form action="/post/create" method="POST">
    <fieldset>
      <label for="titleField">Title</label>
      <input type="text" name="title" value="" class="" placeholder="Enter your title">
      <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
    </fieldset>

    <button class="submit-btn">Create</button>
  </form>
</div>

<%- include('../components/footer.ejs') %>