
  <footer>
    <div class="footer-info">
      <ul class="fa-ul">
        <li><a href="https://twitter.com/Drhzzhzz"><i class="fa fa-twitter fa-3x"></i></a></li>  
        <li><a href="https://github.com/hzzhzz"><i class="fa fa-github fa-3x"></i></a></li>
      </ul>  
      <p class="copyright">@Copyright xblymmx</p>
    </div>
  </footer>
</body>
</html>
