<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/components.css">
  <script src="jquery/jquery.min.js"></script>
</head>

<body>
  <!--flash message-->
  <div class="alert-panel">
    <p></p>
  </div>
  
  <header class="header">
    <div class="header-wrapper">
      <div class="left-bar">
        <div class="logo">
          <a href=""><i class="fa fa-coffee fa-2x"></i></a>
        </div>
        <div class="search-form">
          <form>
            <i class="fa fa-search"></i><input type="text" name="search" value="" placeholder="Search...">
            <!--<button type="submit">Submit</button>-->
          </form>
        </div>
      </div>

      <nav class="right-bar">
        <ul class="nav" id="navigator">
          <li><a href="/">Home</a></li>
          <li><a href="/signin">Signin</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </nav>
    </div>
  </header>