<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="logo">
        CLUB
        <img src="/" alt="logo">
      </div>
      <div class="searchbar">
        <input type="text" name="search" value="" placeholder="Search there...">
      </div>
    </div>
    <nav>
      <ul class="nav">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </nav>
  </nav>
  
</body>
</html>