<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/components.css">
  <script src="/jquery/jquery.min.js"></script>
</head>

<body>
  <!--flash message-->
  <div class="alert-panel">
    <p></p>
  </div>
  
  <header class="header">
    <div class="header-wrapper">
      <div class="left-bar">
        <div class="logo">
          <a href="/"><i class="fa fa-coffee fa-2x"></i></a>
        </div>
        <div class="search-form">
          <form>
            <i class="fa fa-search"></i><input type="text" name="search" value="" placeholder="Search...">
            <!--<button type="submit">Submit</button>-->
          </form>
        </div>
      </div>

      <nav class="right-bar">
        <ul class="nav" id="navigator">
          <li><a href="/">Home</a></li>
          <% if (username) { %>
          <li class="profile-action">
            <a class="profile-link" href="/settings"><%= username %></a>
            <div class="profile-drawer">
              <ul>
                <li class="name underline"><a href="/profile"><span><i class="fa fa-user"></i></span><span>&nbsp;<%= username %></span></a></li>
                <li class="underline"><a href="/collections"><span><i class="fa fa-cube"></i></span><span>&nbsp;Collections</span></a></li>
                <li class="underline"><a href="/settings"><span><i class="fa fa-gear"></i></span><span>&nbsp;Settings</span></a></li>
                <li class=""><a href="/logout"><span><i class="fa fa-sign-out"></i></span><span>&nbsp;Log out</span></a></li>
              </ul>
            </div>
          </li>
          <% } else { %>
          <li><a href="/signin">Signin</a></li>
          <li class="profile-action"><a href="/signup">Signup</a>
          <div class="profile-drawer">
            <ul>
              <li class="name underline"><a href="/profile"><span><i class="fa fa-user"></i></span><span>&nbsp;username</span></a></li>
              <li class="underline"><a href="/collections"><span><i class="fa fa-cube"></i></span><span>&nbsp;collections</span></a></li>
              <li class=""><a href="/logout"><span><i class="fa fa-sign-out"></i></span><span>&nbsp;log out</span></a></li>
            </ul>
          </div>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </header>