<%- include('components/header.ejs') %>
    <p class="text-center"><%= message %></p>

    <ul>
    <% posts.forEach(post => { %>
        <li> <%=post%> </li>
    <% }) %>
    </ul>


<%- include('components/footer.ejs') %>
