<%- include('components/header.ejs') %>

<div class="container">
  <form action="/login">
    <fieldset class="form-group">
      <legend>
        Fieldset legend
      </legend>
      <label for="emailInput">Enter email</label>
      <input type="email" name="emailInput" value="" id="emailInput" class="form-control">
    </fieldset>

    <fieldset class="form-group">
      <legend>
        password legend
      </legend>
      <label for="pwdInput">Enter password</label>
      <input type="password" name="password" value="" id="pwdInput" class="form-control">
    </fieldset>

    <button class="btn btn-primary">Submit</button>
  </form>
</div>


<%- include('components/footer.ejs') %>
