<%- include('components/header.ejs) %>
<div class="banner">
  <h1>Discover Topics</h1>
  <p>Follow technologies you care about</p>
</div>

<main class="topics-wrapper container">
  <aside class="topics-leftbar">
    <div class="search-bar">
      <i class="fa fa-search"></i><input type="text" name="search-topics" value="">
    </div>
    <div class="topics-categories">
      <ul class="li">Frontend</ul>
      <ul class="li">Nodejs</ul>
      <ul class="li">Java</ul>
      <ul class="li">Python</ul>
    </div>
  </aside>
  <section class="topics-content">

  </section>
</main>

<%- include('components/footer.ejs) %>