body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  margin-top: 70px;
}

ul.post-container {
  margin: 30px 70px;
}

ul.post-container li{
  list-style-type: none;
}
  